{% extends 'menu.html.twig' %}

{% block title %}Hasło użytkownika{% endblock %}

{% block body %}

<div>
    <h1>Hasło użytkownika {{ username }}</h1>
    <a class="btn btn-primary" href="{{ path('users') }}">Powrót</a><br />
    
    <br />

    <div class="edit_user">
    
        {{ form(user_form) }}

    </div>
    
</div>
{% endblock %}
